Studying Practice/Session_Class(Powered by XML,BIN,XSD,XSL) with Validation/session.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="session" type="sessionType"/>
  <xs:complexType name="numberType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:minInclusive value="0"/>
              <xs:maxInclusive value="9999999"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="markType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:minInclusive value="0"/>
              <xs:maxInclusive value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="sessionType">
    <xs:sequence>
      <xs:element type="sessionDataType" name="sessionData" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="subjectType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="20"/>
              <xs:minLength value="1"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="surnameType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="25"/>
              <xs:minLength value="1"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="sessionDataType">
    <xs:sequence>
      <xs:element type="numberType" name="number"/>
      <xs:element type="surnameType" name="surname"/>
      <xs:element type="subjectType" name="subject"/>
      <xs:element type="markType" name="mark"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>